{% extends 'basics/main.html' %}
{% block content %}
    <div class="form-signin" style="padding-top: 250px">
        <div id='open-modal' class="btn btn-lg btn-success btn-block">Join</div>
        <a class="btn btn-lg btn-warning btn-block" href="{% url 'new-game' %}">Create</a>
        <a class="btn btn-lg btn-danger btn-block" href="{% url 'logout' %}">Logout</a>
        <br>
        {% if user.games.all %}
        <h3>My Secret Santa games</h3>
        <div class="list-group">
            {% for game in user.games.all %}
                <a class="list-group-item list-group-item-action" href="{% url 'game' game.game.id %}">{{ game.game.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

         <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel" style="text-align: center">Join Secret Santa game</h1>
            </div>
            <div style="display: block" class="modal-footer">
                <form method="post">
                    {% csrf_token %}
                    <div class=" {% if form.code.errors %}has-error{% endif %}">
                        <label class="sr-only" for="id_name">{{ form.code.label }}</label>
                        <input required name="code" type="text" id="id_code" class="form-control" placeholder="Code">
                            {% if form.code.errors %}<p class="field_error">{{ form.code.errors|striptags }}</p>{% endif %}
                    </div>

                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
                    <div id="close-modal" class="btn btn-lg btn-warning btn-block">Close</div>
                    <br>
                </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
